
@import url('https://fonts.googleapis.com/css?family=Arvo');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
  opacity: 0;
  transform: translateY(12px);
  animation: 0.7s slidefade 0s forwards;
  background-color: #A67755;
}

nav img {
  margin-left: 50px;
  width: 100px;
}
nav a {
  font-size: 18px;
}

nav * {
  color: #D7B44D;
}

nav *:hover {
  color: white;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

h3 {
  margin-left: 20px;
}

.navSpacer {
  flex-grow: 1;
}

a {
  text-decoration: none;
  margin-right: 20px;
}

.firstBackground {
  height: 100vh;
  background-image: url("assets/bike1.jpeg");
  background-color: #726E6D;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 200px;
}

.firstBackground a {
  border: 3px white solid;
  border-radius: 3px;
  margin: 30px 0 200px 0;
  padding: 12.5px 40px;
  color: white;
}

.firstBackground p {
  color: white;
}

.firstBackground a:hover {
  background-color: white;
  color: #D7B44D;
}

.firstBackground h1, .firstBackground p, .firstBackground a {
  opacity: 0;
  transform: translateX(12px);
  animation: 0.7s slidefade 0s forwards;
}

.heading {
  background-color: #726E6D;
}
.heading * {
  background-color: #726E6D;
  color: #D7B44D;
}

h1 {
  font-size: 48px;
  margin: 0 0 10px 0;
  color: white;
}

.heading h1 {
  font-size: 22px;

  text-align: center;
  padding: 15px 0;
  margin: 0;
}


@media (max-width: 480px) {
  .firstBackground {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

article {
  display: flex;
}


article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 33vw;
  overflow: hidden;


}

article div:nth-child(1) {
  background-color: #D7AB55;
}

article div:nth-child(2) {
  background-color: #D7AB55;
}

div img {
  height: 100%;
  width: 100%;
}

article div h1, article div a {
  position: absolute;
  opacity: 0;
}

article div:nth-child(1) h1, article div:nth-child(1) a {
  transform: translateX(-100px);
}

article div:nth-child(2) h1, article div:nth-child(2) a {
  transform: translateX(100px);
}

article div h1 {
  font-size: 20px;
}

article div a {
  border: 3px white solid;
  border-radius: 3px;
  padding: 12.5px 40px;
  color: white;
}

article div:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

article div:hover h1, article div:hover a {
  cursor: pointer;
  transform: translate(0px, 25px);
  opacity: 1;
  transition: opacity 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550),
              transform 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

article div:hover h1 {
  transform: translate(0, -25px)
}

article div a:hover {
  background-color: white;
  color: #D7B44D;
}

#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
    filter: grayscale(70%);
}

footer {
  display: flex;
  justify-content: flex-end;
  height: 75px;
  align-items: center;
  background-color: #726E6D;

}

footer p {
  font-size: 14.5px;
  color: #D7B44D;
  flex-grow: 1;
  padding-left: 30px;
}

footer a {
  font-size: 40px;
  padding-right: 5px;
  color: #D7B44D;
}
